name: Post welcome comment
on:
  push:
    branches:
      - welcome-workflow
jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - name: Debug message
        run: echo "Hello World new"
  
